- unless @groups.empty?
  = link_to 'Add group', new_group_path
  %ul.groups
    - @groups.each do |group|
      = render @groups

- else
  You have no groups.
  = link_to 'Add one now', new_group_path